:root {
    --pri-color: #489DA2;
    --sec-color: #434343;
    --ter-color: #AFAFAF;
    --base-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: var(--base-color);

    height: 100vh;
}

header,
main {
    scroll-snap-align: none center;

}

header {
    height: 100vh;
    background-color: var(--pri-color);
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

header nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

header>img {
    margin-right: auto;
    width: 100%;
    height: auto;
}

main {
    padding: 0.5rem;
    position: relative;
}

main::before {
    content: '';
    background-image: url('/public/marteau.svg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: -3rem;
    left: 50%;
    width: 8rem;
    height: 8rem;
    transform: rotate(215deg);
}



@media screen and (min-width:769px) {
    header>img {
        margin: 0;
        height: 50px;
        width: auto;
    }

    header {
        flex-direction: row;
        height: auto;
        align-items: center;
    }

    header strong {
        display: none;
    }

    header nav {
        flex-direction: row;
    }

    main {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 2rem;


        background-image: url('/public/pipe_background.svg');
        background-size: contain;
        background-repeat: no-repeat;

        height: 100%;
    }

    footer {
        background: transparent;
        position: absolute;
        bottom: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

section {
    min-width: 18rem;
    max-width: 35rem;
}

form {
    max-width: 29rem;
}

h1,
h2,
label {
    color: var(--pri-color);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
}

a {
    color: var(--base-color);
    text-decoration: none;
}

p {
    line-height: 1.7rem;
    margin-bottom: 1.7rem;
}



label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input,
textarea {
    border: 1px solid var(--pri-color);
    padding: 0.5rem;
    width: 100%;
}

textarea {
    height: 10rem;
}

button {
    background-color: var(--pri-color);
    color: var(--base-color);
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 17px;
    font-weight: bold;
}